body {
  font-family: Poppins, sans-serif;
  background: #e8eeff;
  margin:0;
  padding:0;
}
header {
  background: linear-gradient(90deg, #355cfa, #6e9eff);
  padding:25px;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-align:center;
}
.container {
  max-width:900px;
  margin:auto;
}
.section {
  background:white;
  padding:30px;
  margin:30px auto;
  border-radius:15px;
  box-shadow:0 4px 12px rgba(0,0,0,0.15);
}
.large textarea{
  height:180px;
}
textarea {
  width:100%;
  padding:15px;
  border-radius:12px;
  border:1px solid #bbb;
  font-size:16px;
}
.button {
  background:#355cfa;
  color:white;
  padding:12px 22px;
  border-radius:12px;
  display:inline-block;
  margin-top:15px;
  cursor:pointer;
  border:none;
  font-size:16px;
}
.quiz-box {
  max-width:750px;
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
}
.quiz-option {
  background:#eef3ff;
  padding:15px;
  margin:12px 0;
  cursor:pointer;
  border-radius:12px;
  font-size:18px;
}
.correct { background:#c9ffd0 !important; }
.wrong { background:#ffd1d1 !important; }
